@page {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
    /* landscape is not wide enough */
    /* directly setting svg dims in px works though */
    size: letter landscape;
}

body {
    min-width: 720pt;
    width:100%;
}

body .result {
    display:inline;
    width:100%;
    height:100%;
    min-width:25cm;
    margin: 0% 0% 0% 0%;
    padding: 0;
    page-break-after: avoid;
}

.hover-bg {
   display:none;
}

.bucket-label {
   display:none;
}

.y.axis.print line {
  visibility: visible;
  fill: none;
  stroke: #777;
  stroke-dasharray: 8,10;
  stroke-dashoffset: 10;
}
